<div class="index-main">
      <div class="hero">
        <img class="hero-image" src="pickapp.jpg">
        <div class="hero-items">
          <div class="hero-text">
            <div class="hero-text__main">しゅうひん君</div>
            <div class="hero-text__sub">shipper入力欄</div>
            <div class="hero-text__sub">ピッキングNo入力欄</div>
          </div>
          <div class="service-btn"><a href="/pickitems">スタート</a></div>
        </div>
      </div>
    </div>