/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*start画面*/
.start {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.start-image {
  width: 100vw;
  position:absolute;
  object-fit: cover;
  opacity: 30%;
}

.pickapp-icon{
  width: 100vw;
  height: 100vh;
}

.start-items {
  position: absolute;
  display: flex;
  justify-content:space-around;
  top: calc(30% - 35px);
  padding: 0 60px;
}

.start-text__main {
  font-size:xx-large;
  color: #505050;
  font-weight: 600;
  margin-bottom: 10px;
}

.start-text__ {
  margin: 10px;
}

.start-text__sub {
  margin: 10px;
  padding-left: 6px;
  font-size: 18px;
  margin-bottom: 10px;
}

.start-input {
  background-color: #eeeeeebe;
}

.service-btn {
  width: 100px;
  height: 60px;
  background-color: #aef8de8d;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

.service-btn a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}



/*index画面*/

 th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th[scope='col'] {
  background-color: #505050;
  color: #fff;
  text-align: center;
}

td[scope='row'] {
  background-color: #d6ecd4;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #eee;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.shohinmei{
  text-align: left;
}

.totalpick{
  text-align: right;
}

tr.has-shipping-records{
  background-color: rgba(255, 127, 80, 0.703);
}

.purchase-btn {
  width: 85px;
  bottom: 10px;
  left: 10px;
  position: fixed;
  z-index: 9999;
  padding: 10px;
}

.top {
  display: flex;
  justify-content:left;
}

.records-counts {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

.record-count {
  margin-left: 20px;
}

.count-font {
  padding:0 10px;
  border-style: solid;
  background-color: #f2f8a5;
}

.input-jan {
  background-color: #f2f8a5;
}

/*show画面*/
.data{
  font-size: 40px;
  font-weight: bold;
}

.data_pick{
  font-size: 100px;
  font-weight: bold;
  background-color: #d6ecd4;
  color: #fff;
}

.data_shohinmei{
  text-align: left;
  font-size: 20px;
}

.shipping_records-input{
  background-color: #d6ecd4;
  width: 60%;
  border: none;
  font-size: 100px;
  color: #fff;
  text-align: right;
  padding-right: 50px;
}

.shipping_records-submit{
  background-color: rgb(241, 235, 150);
  border-color: #ffffff85;
  font-size: 50px;
  color: black;
  text-align: center;
  padding: 10px;
}