/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*index画面*/

 th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th[scope='col'] {
  background-color: #505050;
  color: #fff;
}

td[scope='row'] {
  background-color: #d6ecd4;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #eee;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.shohinmei{
  text-align: left;
}

.totalpick{
  text-align: right;
}

tr.has-shipping-records{
  background-color: rgba(255, 127, 80, 0.703);
}

/*show画面*/
.data{
  font-size: 40px;
  font-weight: bold;
}

.data_pick{
  font-size: 100px;
  font-weight: bold;
  background-color: green;
  color: #fff;
}

.data_shohinmei{
  text-align: left;
  font-size: 20px;
}

.shipping_records-input{
  width: 60%;
  background-color: green;
  border: none;
  font-size: 100px;
  color: #fff;
  text-align: right;
  padding-right: 50px;
}

.shipping_records-submit{
  background-color: rgb(216, 202, 0);
  border-color: #ffffff85;
  font-size: 50px;
  color: black;
  text-align: center;
}